/* CSS Document begin */

html{
    filter:expression(document.execCommand("BackgroundImageCache", false, true));}
/*for ie6*/
body{
    width:100%;
    margin:0;
    padding:0;
    font-size: 14px;
    background: #f0f0f0;
    font-family: Microsoft YaHei, Helvetica, STHeiti STXihei, Microsoft JhengHei, Arial;
}
div,span,h1,h2,h3,h4,h5,h6,pre,form,input,textarea,p,blockquote,th,td,frame,iframe,dt,dl,dd,a,ul,li,ol{
    margin:0;
    padding:0;
    border:0;
    text-align:left;
    font-weight:normal;
}
img{
    border:0px;
}

a{
    outline:none;
    blr:expression(this.onFocus=this.blur());
    text-decoration: none;
    color: #333;
}
a:link,a:visited,a:active,a:hover{
    text-decoration:none;
}
a:hover{
    text-decoration:none;
}
button,input{
    margin:0;
    padding:0;
    border:0;
}
ul,li,dl,dd{
    list-style-type:none;
}
i,em{
    font-style:normal;
}
input,button,select,textarea{
    outline:none;
}
/* W comm.css begin*/
.clearfix:after{display:block;content:".";height:0;visibility:hidden;clear:both;font-size:0;line-height:0;}
.clearfix{*zoom:1;}
.fl{float:left;}
.fr{float:right;}
.blue{
    color:#0078ff;
}
.sliper-swaper{
    overflow: hidden;
}
.mod_container{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
    max-width: 980px;
    overflow: hidden;
    background: #f0f0f0;
    color:#333;
    padding-bottom: 20px;
}
/*尺寸  S*/
.pd-20{
    padding:0.2rem;
}
.f12{
    font-size: 12px;
}
.f14{
    font-size: 14px;
}
.f16{
    font-size:16px;
}
.f18{
    font-size:18px;
}
.mt0{
    margin-top: 0;
}
.mt5{
    margin-top: 5px;
}
.mt10{
	margin-top: 10px;
}
.mb-14{
    margin-bottom: 14px;
}
.mr17{
    margin-right: 17px;
}
.ml10{

	margin-left: 10px;
}
.ml24{
    margin-left: 24px;
}
.pl8{
    padding-left: 8px;
}
.lh20{
    line-height: 20px;
}
/*尺寸  E*/
/*字体样式 S*/
.fw-b{
    font-weight: bold;
}
/*字体样式 E*/
/*颜色 S*/

.b-bg{
    background: #0066cc;
}
.r-bg{
    background: #c91212;
}
.r-fc{color:#c50000}
.g-fc{
    color:#888;
}
.gy-fc{
    color:#999;
}
.w-fc{
    color:#fff;
}
.b-fc{
	color:#0078ff;
}
.bl-fc{
    color:#333;
}
.bt{
	border-top:1px #e5e5e5 solid;
}
.bb{
    border-bottom:1px #e5e5e5 solid;
}
.n-bt{
    border-top:none;
}
.n-bb{
    border-bottom:none;
}
.bl{
    border-left:1px #e5e5e5 solid;
}
/*颜色 E*/


/*banner S*/
.addWrap{ position:relative; width:100%;background:#fff;margin:0; padding:0;}
.addWrap .swipe{overflow: hidden;visibility: hidden;position:relative;}
.addWrap .swipe-wrap{overflow:hidden;position:relative;}
.addWrap .swipe-wrap > div {float: left;width: 100%;position:relative;}
#position{
    position: absolute;
    bottom: 8px;
    left: 10px;
    padding:2px 4px 0 4px;
    margin: 0;
    background:rgba(255,255,255,0.4);
    text-align: left;
    border-radius: 8px;
}
#position li{
    width:10px;
    height:10px;
    margin:0 2px;
    display:inline-block;
    -webkit-border-radius:5px;
    border-radius:5px;
    background-color:#fff;
}

#position li.cur{background-color:#FF0000;}
.img-responsive { display: block; width:100%;height: auto;}
/*banner E*/
/***滑动按钮 S***/
[id^="checkbox-10-"] + label {
    pointer:cursor;
    background-color: #a6a6a6;
    padding: 9px;
    border-radius: 50px;
    display: inline-block;
    position: relative;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    width: 60px;
    height: 30px;
    vertical-align: middle;
}

[id^="checkbox-10-"] + label:after {
    content: ' ';
    position: absolute;
    top: 0;
    -webkit-transition: box-shadow 0.1s ease-in;
    transition: box-shadow 0.1s ease-in;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    box-shadow: inset 0 0 0 0 #eee, 0 0 1px rgba(0,0,0,0.4);
}

[id^="checkbox-10-"] + label:before {
    content: ' ';
    position: absolute;
    background: white;
    top: 1px;
    left: 1px;
    z-index: 999999;
    width: 28px;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    height: 28px;
    border-radius: 100px;
    box-shadow: 0 3px 1px rgba(0,0,0,0.05), 0 0px 1px rgba(0,0,0,0.3);
}

[id^="checkbox-10-"]:active + label:after {
    box-shadow: inset 0 0 0 20px #eee, 0 0 1px #eee;
}

[id^="checkbox-10-"]:active + label:before {
    width: 37px;
}

[id^="checkbox-10-"]:checked:active + label:before {
    width: 37px;
    left: 20px;
}

[id^="checkbox-10-"] + label:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

[id^="checkbox-10-"]:checked + label:before {
    content: ' ';
    position: absolute;
    left: 31px;
    border-radius: 100px;
}

[id^="checkbox-10-"]:checked + label:after {
    content: ' ';
    font-size: 1.5em;
    position: absolute;
    background: #33cc00;
    box-shadow: 0 0 1px #4cda60;
}
/***滑动按钮 E***/
/*画订单支付的图标 S*/
.write-bg{
    width:39px;
    height:39px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
    padding: 5px;
}
.green-bg{
    position: relative;
    width:39px;
    height:39px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    background: #41c254;
}
.green-bg:after{
    border: solid 7px;
    position: absolute;
    left: 7px;
    top: 10px;
    display: block;
    content: '';
    width: 16px;
    height: 8px;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-border-radius: 4px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 3px;
}
/*画订单支付的图标 E*/

/*侧滑 S*/

.sidebar {
    margin: 0;
    background-color:#fff;
    
}
.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  /*  background-color: transparent;
    line-height: 68px;
    border-top: 2px solid #b0120a;*/
}


/*侧滑 E*/

/*回到顶部 S*/
.backtop {
width: 51px;
height: 51px;
display: block;
z-index: 99999;
position: fixed;
bottom: 80px;
left: 71%;
background: url("../img/backtop.png") no-repeat;
webkit-box-sizing: border-box;
box-sizing: border-box;
}
/*固定在窗口顶部  E*/
/*固定在窗口顶部  S*/
.fixedtop{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	z-index:100;
	/*/!*_position:absolute;
	_top:expression(eval(document.documentElement.scrollTop));*!/*/
	
}
.fixedtop2{
	position:fixed;
	top:43px;
	left:0px;
	width:100%;
	z-index:100000;
}
/*回到顶部 E*/

/*大明icon图标 S*/
.dm-icon{
    background: url("../img/dm-icon.png") no-repeat;
    background-size: 384px 296px;
}
/*大明icon图标 E*/

/* W comm.css end*/

/*背景*/
.index-content{
    width: 100%;
    max-width: 980px;
    height: auto;
    margin: 0 auto;
    /*overflow-x: hidden;*/
}
.index-set{
    /*background: #f7f7f7;*/
}

/*首页标题*/

.d-mod-tit{
    position: relative;
    margin:0  .1rem;
}
.d-pav-tit {
    height:25px;
    padding-left:10px;
    color: #000;
    position: relative;
    font-size: 16px;
    line-height: 25px;
}
.d-pav-tit:before{
    top:3px;
    content: '';
    display: block;
    width:5px;
    height:20px;
    background-color: #c50000;
    position: absolute;
    left:0;
}

/*刷新*/
.d-mod-tit-refresh{
    display: inline-block;
    padding-left: 20px;
    padding-right: 0;
    color: #666;
    position: absolute;
    top: 0;
    right: 0;
    height:25px;
    line-height:25px;
}
.d-mod-tit-refresh:before{
    background: url(../img/index_v2.png) no-repeat;
    -webkit-background-size: 80px 177px;
    background-size: 80px 177px;
}
.d-mod-tit-refresh:before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    overflow: hidden;
    background-position:0 -20px;
    vertical-align: middle;
    margin-right: 5px;
}
/*首页盒子上下距离*/
.d-index-dis{
    padding-top:.1rem;
    padding-bottom:.15rem;
}
.d-index-lr{
    margin: 0 .1rem;
}
.d-mod-shop-top{
    padding-top:.15rem;
}

/*首页向下加载更多*/
.click-loading{
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    color: #7f7f7f;
    text-align: center;
    padding-bottom: 20px;
}
.click-loading a{
    color:#454545;
    display: inline-block;
}
.click-loading a:before{
    background: url(../img/index_v2.png) no-repeat;
    background-size:80px 177px;
    -webkit-background-size: 80px 177px;
}
.click-loading a:before{
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    overflow: hidden;
    vertical-align: middle;
    margin-right: 5px;
    background-position:0 -42px;
}

/*头部*/
/* T d-mod begin */
.d-mod{
    height:50px;
    line-height:50px;
    position: relative;
    background: #f7f7f7;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;

}

.d-mod-logo, .d-mod-search:before, .d-mod-menu,.d-mod-menu-list-item:before{
    background:url(../img/dm-icon.png) no-repeat;
    -webkit-background-size: 384px 296px;
    background-size: 384px 296px;
}
.d-mod-logo {
    z-index: 1;
    position: absolute;
    top: 8px;
    left: 9px;
    width: 47px;
    height: 40px;
    background-position: -278px -231px;
    display: block;
}
.d-mod-input {
    position: absolute;
    top: 0;
    left: 45px;
    right: 50px;
    height: 50px;
}
.d-mod .d-mod-input {
    left: 69px;
}
.d-mod-input input {
    border: 1px solid #dbdbdb;
    margin: 7px 0;
    height: 33px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    color: #999;
    padding: 0 5px 0 38px;
    -webkit-border-radius: 0.03rem;
    border-radius:  0.035rem;
    font-size:12px;
    -webkit-appearance: none;
}
.d-mod-search{
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    width: 38px;
    height: 50px;
    display: block;
    font: 0/0 a;
}
.d-mod-search:before {
    width: 16px;
    height: 16px;
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -9px;
    left:10px;
    background-position: 0 -234px;
}
.d-mod-menu{
    position: absolute;
    width: 24px;
    height: 19px;
    top:16px;
    right:0.14rem;
    background-position: -311px -2px;
}
.d-mod-menu-list{
    position: absolute;
    top: 50px;
    right: 0;
    display: none;
    width: 125px;
    background: #f7f7f7;
    z-index: 10;
    display: none;
    box-shadow:-3px 3px 3px #d1d0d0;
    -webkit-box-shadow:-3px 3px 3px rgba(0,0,0,0.4);
    -moz-box-shadow:-3px 3px 3px #d1d0d0;
}
.d-mod-menu-list-item{
    width: 100%;
    height: 40px;
    line-height: 40px;
    display: block;
    border-bottom: 1px solid #ededed;
    text-align: left;
    text-indent: 51px;
    position: relative;
    -webkit-transition: background ease .2s;
    transition: background ease .2s;
}
.d-mod-menu-list-item:before {
    width: 20px;
    height: 22px;
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -12px;
    left:18px;
}
.d-mod-menu-list-item1:before {
    background-position: -313px -35px;
}

.d-mod-menu-list-item2:before{
    background-position: -313px -70px;;
}
.d-mod-menu-list-item3:before{
    background-position: -312px -105px;
}
.d-mod-menu-list-item4:before{
    background-position: -313px -137px;
}
.d-mod-menu-list-item:last-child {
    border-bottom: none;
}
.d-mod-back{
    padding-left: 18px;
    position: relative;
    color: #333;
    display: block;
    height: 50px;
}
.d-mod .d-mod-input-wrapper{
   left: 51px;
}
.d-mod-border{
    border-bottom: 1px solid #f2f2f2;
}
.d-sort-border{
    border-bottom: 1px solid #e5e5e5;
}
.d-mod-back:before{
    border: #666 solid 2px;
    position: absolute;
    left:20px;
    top: 4px;
    margin-top: 13px;
    display: block;
    content: '';
    width: 14px;
    height: 14px;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* T d-mod end */

/* 最大高度 */
.d-theme-max{
    min-height:800px;
}
.d-modtr{
    height: 50px;
}
/*统一白色背景*/
.d-tab-background{
    background: #fff;
}
/*商品详情购买 底部*/
.d-shopbuybtn{
    background: #fff;
    width: 100%;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #d9d9d9;
}
.shop-cates {
    float: left;
    position: absolute;
    top: 10px;
    left: 10px;
    padding-right:20px;
    border-right: 1px solid #d9d9d9;
}
.shop-sharecarts {
    height:30px;
    display: block;
    width: 30px;
    position:relative;
    top:6px;
    background: url(../img/index_v2.png) 0 10px no-repeat;
    background-size: 80px 177px;
    -webkit-background-size: 80px 177px;
    background-position: -51px -89px;
}
.btn-cart {
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    margin-left: 50px;
}
/*按钮*/
.btn-conter, .btn-shopcarts {
    float: left;
    width: 45%;
}
.btn-shopcarts a {
    padding: 8px;
    display: block;
    background: #ff4608;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    margin-left: 25px;
    border-radius: 5px;
}
.btn-conter a {
    padding: 8px;
    display: block;
    background: #ff9711;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    margin-left: 10px;
    margin-right: 25px;
    border-radius: 5px;
}

.btn-jion {
    background: #fff;
    width: 100%;
    min-height: 72px;
}
.d-posrtr{
    position: fixed;
    bottom:0;
    width: 85%;
}
.btn-zir, .btn-go {
    width: 50%;
    float: left;
    padding-top: 15px;
    border-top: 1px solid #e5e5e5;
}
.btn-zir a{
    padding: 10px;
    display: block;
    background: #ff4608;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    margin-left: 10px;
    border-radius: 5px;
}
.btn-go a {
    padding: 10px;
    display: block;
    background: #ff9711;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    margin-left: 10px;
    margin-right:10px;
    border-radius: 5px;
}

.cart-num i {
    background-color: #f24b48;
    width: 15px;
    height: 15px;
    color: #fff;
    line-height: 15px;
    border-radius: 100%;
    position: absolute;
    top: -7px;
    right: -7px;
    font-style: normal;
    font-size: 10px;
    text-align: center;
}
/*卡片箭头*/
.d-linklist{
    min-height: 44px;
    background: #fff;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    font-size: 14px;
}
.d-linklist .item{
    padding: 11px 16px 11px 10px;
    position: relative;
    display: block;
    color: #323232;
}
.d-linklist .parameter {
    display: inline-block;
    float: right;
    padding-right:12px;
}
.arrowent {
    border: #4c4c4c solid 2px;
    position: absolute;
    top: 3px;
    margin-top: 13px;
    display: block;
    content: '';
    width: 8px;
    height: 8px;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
    right: 14px;
}

.details-mode{
    margin-top:10px;
}
.parameter i{
    padding-right: 10px;
}
.parameter i:last-child{
    padding-right: 0;
}
.noborder{
    border-bottom: none;
}

.fotterborder{
    margin-bottom: 80px;
}
/*清除浮动*/

/*数量加减*/
ul.boxright {
    float: right;
    border-bottom: none;
    padding-bottom: 0;
    margin-top: 0;
    padding-right: 10px;
}

.numbertu{
    border-top: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    width: 38px;
    height: 38px;
    display: block;
    float: left;
    text-align: center;
    font-size:30px;
    font-weight: bold;
    color: #888888;
    line-height:35px;
    background: #f2f2f2;
}
.number-jian{
    line-height:32px;
   /* color: #808080;*/
}
.numberinput{
    width: 70px;
    height: 38px;
    border: 1px solid #e5e5e5;
    text-align: center;
    color: #333333;
    font-size: 14px;
    line-height: 25px;
    float: left;
    border-radius: 0;
    -webkit-appearance: none;
}
.numbertip{
    border-left: 0;
    color: #333333;
    border-right: 1px solid #e5e5e5;
}

.bortop{
    margin-top:10px
}

/*加入购物车弹出框*/
.d-bodybg {
    background:rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0;
    z-index: 99999;
}
.d-bodyeject {
    width: 90%;
    height: auto;
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    max-width: 480px;
    max-height: 250px;
    opacity: initial;
    border-radius: 5px;
}
.d-minheight{
    max-height:175px;
}
.chenker {
    text-align: center;
    padding:25px 0 ;
}
.correct{
    display: inline-block;
    background: url(../img/index_v2.png) no-repeat;
    background-size: 80px 177px;
    background-position: -30px -127px;
    width: 50px;
    height: 50px;
    vertical-align:bottom;

}
.chenker p {
    padding-left:16px;
    display: inline-block;
    height:40px;
}

/*评价tab*/
.detial-tab{
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    border-left:none;
    display: box;
    display: -ms-box;
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    background: #fff;
}
.d-deital-boxone{
    position: relative;
    display: block;
    flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    box-flex: 1;
    -ms-box-flex: 1;
    -webkit-box-flex: 1;
    text-align: center;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
}
.d-deital-boxone:before, .d-deital-boxone:after {
    content: '';
    position: absolute;
    left: 0;
    top:0px;
    bottom:0px;
    width:1px;
    background: #e5e5e5;
}
.d-deital-boxone:nth-child(1):before, .d-deital-boxone:nth-last-child(1):after{
    background: none;
}
.detial-tab .cur{
    background: #c50000;
    color: #fff;
}
.d-deital-boxone .pjsl {
    color: #888888;
}
.d-deital-boxone .cur{
    color: #fff;
}
.detial-tab .d-detailactive span {
    color: #fff;
}
.d-detailactive:before, .d-detailactive:after{
    background: #c50000;
    border-radius: 5px;
}

